
.left_menu{
    width: 234px;
    height: 428px;
    margin-top: 20px;
    margin-left: 40px;
}
.title{

    width: 234px;
    height: 45px;
    background-color: #d64839;

}
.title span{
    display: block;
    color: #fff;
    padding: 0 10px;
    min-width: 76px;
    font-size: 18px;
    line-height: 40px;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}
.type{

    width: 234px;
    height: 381px;
    background-color: #313131;


}
.type a{
    text-decoration: none;
    color: white;

}
.type a:hover{
    color: #d64839;
}
.first_level{
    padding: 0 16px;
    height: 48px;
    line-height: 40px;
    overflow: hidden;
    position: relative;

}
.first_level dl dt{
    float: left;
    padding-right: 18px;
    max-width: 94px;
    text-align: left;
    margin-left:10px ;
    margin-top: -10px;
}
.type_title{
    font-size:18px ;
}
.first_level dl dd{
    font-size:14px ;
    display: block;
  position: absolute;
    top:6px;
    left: 50px;
}
.second_level{
    color: red;

    width:530px;
    height:357px ;
    box-shadow: 2px 2px 12px 0 rgba(0,0,0,.15);
   /* border-top: 0;*/
    position: absolute;
   /* z-index: 500;*/
    background: #fff;
    top: 57px;
    left: 244px;
    padding: 10px 30px 14px;
    display: none;
}
.form-wrap{

    width: 576px;
    height: 40px;
    position:absolute ;
   left: 350px;
    top:104px;
}
.serachInput{

    border: solid 2px #d64839;
    width: 466px;
    height: 35px;
}
.searchbtn_wrap{
    width: 107px;
    height: 40px;
    background-color:#d64839 ;
    margin-left: 470px;
    margin-top: -41px;
}
.serchbtn{
    border: 0;
    background-color:#d64839 ;
    font-size: 20px;
    color: white;
    margin-left: 20px;
    margin-top: 3px;
}
.list{
    width:550px;
    height: 20px;
    margin-left: 320px;
   margin-top: -415px;
}
.reco_list{
    margin-top: 1px;
    margin-left: -30px;
}
.reco_list li{
    list-style: none;
    float: left;
}
.reco_list li a{
    list-style: none;
    float: left;
    display: inline-block;
    margin-left: 13px;
    font-size: 13px;
    color: black;
    text-decoration: none;
}
.reco_list li a:hover{
    color:#d64839;
}

.adver ul,li{padding: 0;margin: 0; list-style: none;}
.adver{margin-left: 400px;margin-top: 20px; width: 460px; overflow: hidden; height: 360px; position: relative; background: url("/movie/statics/images/电影1.png");}
.adver .adver_change{
    width: 100%;
    height: 100%;
    position: absolute;
    right:-700px;
    top:0;
    background-color: #66ccff;

}
.adver ul{position: absolute; bottom:10px; z-index: 100; width: 100%; text-align: center;}
.adver ul li{display: inline-block; font-size: 10px; line-height: 20px; margin: 0 1px; width: 20px; height: 20px; border-radius: 50%; background: #333333; text-align: center; color: #ffffff;}
.arrowLeft,.arrowRight{
    position: absolute;
    width: 30px;
    background:rgba(0,0,0,0.2);
    height: 50px;
    line-height: 50px;
    text-align: center;
    top:200px;
    z-index: 150;

    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    display: none;
}
.arrowLeft{left: 10px;}
.arrowRight{right: 10px;}
.active{
    background-color: orangered;
}
