<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.moviePort.dao.MovieMapper">
    <resultMap id="movieBaseGenre" type="movie">
        <id property="id" column="mid"/>
        <association property="genre" javaType="genre">
            <id property="id" column="genreId"/>
        </association>
    </resultMap>

    <select id="selectHotMovie" resultMap="movieBaseGenre">
        SELECT
            movie.id AS `mid`,
            movie.`name`,
            movie.popularity,
            movie.genreId,
            movie_genre.`typeName`
        FROM
            movie,movie_genre
        WHERE
            movie.genreId=movie_genre.id
            AND
            popularity IN(SELECT MAX(popularity) FROM movie GROUP BY movie.`genreId`)
        GROUP BY
            movie.genreId
        ORDER BY
            popularity DESC
        LIMIT 8;
    </select>
</mapper>